* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: beige;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.game-container {
    background-color: rgb(83, 177, 249);
    width: 80%;
    height: 600px;
    display: grid;
}

.controllers {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    height: 138px;
    background-color:bisque 
}

.game-icon {
    width: 50px;
    height: 50px;
    background-color:rgb(83, 177, 249);
    border: none;
}

.tools-container {
    background-color: rgba(0, 0, 0, 0.816);
width: 35%;
height: 60%;
padding: 5px;
}

.tools-icons {
    cursor: pointer;
    display: flex;
    justify-content: space-around;
    align-items: center;
padding: 5px;
}

.tool-icon {
    width: 40px;
    height: 40px;
    border: 2px solid white;
}


.tools-text {
    cursor: pointer;
    display: flex;
    justify-content: space-around;
    color: white;
    background-color: transparent;
    font-size: x-small;
}


.tool:hover{
    color: yellow;
    border: 1px solid yellow;
}

.inventory-container {
    background-color: rgba(0, 0, 0, 0.816);
width: 35%;
height: 60%;
padding: 5px;
}

.inventory-icons {
    cursor: pointer;
    display: flex;
    justify-content: space-around;
    align-items: center;
padding: 5px;
}

.inv-icon{
    width: 35px;
    height: 35px;
    border: 2px solid white;
}

.inventory-counter {
display: flex;
justify-content: space-between;
color: white;
font-size: x-small;
width: 90%;
margin-left: 12px;
}

.inv-text {

}

button {
    width: 120px;
    height: 50px;
    border: 2px solid black;
    border-radius: 10px;
background-color: red;
color: white;
font-size: 20px;
}

.color-square {
    width: 30px;
    height: 30px;
    margin: 5px;
    border: 1px solid #ccc;
    cursor: pointer;
}

.counter {
    text-align: center;
    margin: 0.3em;
}

.counter>span {
    margin: 0.3em;
}

.blue {
    background-color: blue;
}
.green {
    background-color: green;
}
.red {
    background-color: red;
}
