@import url('https://fonts.cdnfonts.com/css/minecraft-4');
@import url('https://fonts.cdnfonts.com/css/osp-din');
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Start game style */
.first-page {
  font-family: 'Minecraft', sans-serif;
  background-image: url(assests/Minecraft\ Wallpaper\ Time\ Lapse.jpg);
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

main {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.start-game {
margin-top: 5em;
width: 8em;
height: 2em;
background-color: rgb(169, 163, 163);
color: #000;
font-size: 3em;
text-decoration: none;
text-align: center;
padding-top: 10px;
border: 5px solid black;
border-radius: 10px;
box-shadow: rgba(0, 0, 0, 1);
}

.start-game:hover {
background-color: rgb(88, 85, 85);
color: darkgray;
  }

/* main page game style */
.main-page {
  font-family: 'OSP-DIN', sans-serif;
  background-color: #ffe4b5;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.game-container {
  width: 850px;
  height: 80vh;
  display: grid;
}

.grid-icon {
  width: 50px;
  height: 50px;
  background-size: cover; 
}

.controllers {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 1000px;
  height: 100px;
  background-color: #ffe4b5;
  margin-top: 20px;
  color: white;
  font-size:medium;
}

.icon-square {
  width: 50px;
  height: 50px;
  border: 3px solid white;
  cursor: pointer;
  background-size: cover;
}

.icon-square:hover {
  border: 3px solid red;
  cursor: pointer;
}
.tools {
  background-color: rgb(71, 71, 71);
  width: 300px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.tool {
  width: 50px;
  height: 50px;
  cursor: pointer;
  border: white 3px solid;
  background-size: cover; 
}

.tool:hover{
  border: 3px solid red;
}
.tool-text {
  margin-top: 5px; 
  text-align: center;
}
.inv-counter {
  display: flex;
  justify-content: space-between;
  margin-top: 60px;
  font-size: smaller;
}

#reset-button {
  width: 120px;
  height: 50px;
  border: 3px solid #000;
  border-radius: 10px;
  background-color: #ff4500;
  color: white;
  font-size: 20px;
  cursor: pointer;
  margin-top: 10px;
}

#reset-button:hover {
  border: 3px solid #000;
  background-color: #cf3902;
  color: rgba(255, 255, 255, 0.79);
}

.inventory {
  display: flex;
  justify-content: center;
  background-color: rgb(71, 71, 71);
  width: 400px;
  height: 100px;
  padding: 10px 5px;
}

.axe {
background-image:url('assests/axe.png');
}

.pickaxe {
background-image: url('assests/pickaxe.png');
}

.shovel {
background-image: url('assests/shovel.png');
}

.soil {
  background-image: url('assests/soil.jpg');
}

.wood {
  background-image: url('assests/tree.png');
}

.rock {
  background-image: url('assests/rock.png');
}

.grass {
  background-image: url('assests/grass1.png');
}

.leaf {
  background-image: url('assests/tree-leaves.png');
}
.sky {
  background-color: #87ceeb;
}
.cloud {
  background-color: white;
}

