* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #d2b48c; 
  display: flex;
  flex-direction: column;
  align-items: center;
}

.game-container {
  position: relative;
  width: 850px;
  height: 600px;
  display: grid;
}

.grid-icon {
  width: 50px;
  height: 50px;
}

.controllers {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 850px;
  height: 100px;
  background-color: #ffe4b5;
  margin-top: 20px;
  font-size: small;
  color: white;
}

.icon-square {
  width: 50px;
  height: 50px;
  border: 3px solid white;
  cursor: pointer;
  background-size: cover;
}

.icon-square:hover {
  border: 3px solid red;
  cursor: pointer;
}
.tools {
  background-color: rgb(71, 71, 71);
  width: 300px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.tool {
  width: 50px;
  height: 50px;
  cursor: pointer;
  border: white 3px solid;
  background-size: cover; 
}

.tool:hover{
  border: 3px solid red;
}
.tool-text {
  margin-top: 5px; 
  text-align: center;
}
.inv-counter {
  display: flex;
  justify-content: space-between;
  margin-top: 75px;
}

#reset-button {
  width: 120px;
  height: 50px;
  border: 3px solid #000;
  border-radius: 10px;
  background-color: #ff4500;
  color: white;
  font-size: 20px;
  cursor: pointer;
  margin-top: 10px;
}

#reset-button:hover {
  border: 3px solid #000;
  background-color: #cf3902;
  color: rgba(255, 255, 255, 0.79);
}

.inventory {
  display: flex;
  justify-content: center;
  align-items:center;
  background-color: rgb(71, 71, 71);
  width: 400px;
  height: 100px;
  padding-left: 10px;
}

.axe {
background-image:url('assests/axe.png');
}

.pickaxe {
background-image: url('assests/pickaxe.png');
}

.shovel {
background-image: url('assests/shovel.png');
}

.soil {
  background-image: url('assests/soil.jpg');
}

.wood {
  background-image: url('assests/tree.png');
}

.rock {
  background-image: url('assests/rock.png');
}

.grass {
  background-image: url('assests/grass1.png');
}

.leaf {
  background-image: url('assests/tree-leaves.png');
}
.sky {
  background-color: #87ceeb;
}
.cloud {
  background-color: white;
}
